
.app-container {
  position: relative;
  z-index: 1;
}

.app-background {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animation-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.animation-box {
  width: 16.66%; /* 100% dividido por 6 columnas */
  height: 33.33%; /* O el valor que desees para el alto de cada caja */
  background-size: cover;
  background-position: center center;
  animation: expandContract 3s infinite ease-in-out;
  opacity:0.4 ;
}

@keyframes expandContract {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Query para todas las pantallas */
@media all {
  /* Estilos para pantallas de ancho menor o igual a 768px */
  @media (max-width: 768px) {
    .animation-box {
      width: 50%; /* Reducir el ancho de las cajas a la mitad */
    }
  }

  /* Estilos para pantallas de ancho entre 769px y 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    .animation-box {
      width: 33.33%; /* Dividir el ancho de las cajas en 3 columnas */
    }
  }

  /* Estilos para pantallas de ancho mayor a 1024px */
  @media (min-width: 1025px) {
    .animation-box {
      width: 16.66%; /* Volver al ancho original de 6 columnas */
    }
  }

  /* Estilos generales para todas las pantallas */
  /* Por ejemplo: */
  body {
    font-size: 16px; /* Tamaño de fuente predeterminado */
  }

  h1 {
    font-size: 24px; /* Tamaño de fuente para encabezados */
  }

  /* Agrega tus estilos adicionales aquí */
}